<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Ejemplo de Vue</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link href="css/estilos.css" rel="stylesheet" />
    </head>
    <body>
        <!-- component template -->
        <script type="text/x-template" id="grid-template">
            <table>
                <thead>
                    <tr>
                        <th v-for="key in columns"
                          @click="sortBy(key)"
                          :class="{ active: sortKey == key }">
                          {{ key | capitalize }}
                          <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                          </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="entry in filteredData">
                        <td v-for="key in columns">
                          {{entry[key]}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </script>

        <!-- demo root element -->
        <div id="demo">
            <form id="search">
                Search <input name="query" v-model="searchQuery">
            </form>
            <demo-grid
                :data="gridData"
                :columns="gridColumns"
                :filter-key="searchQuery">
            </demo-grid>
        </div>
        <script src="js/app.js" type="text/javascript"></script>
    </body>
</html>
